USE [master]
GO
/****** Object:  Database [kekEmlak]    Script Date: 6/15/2021 2:02:03 PM ******/
CREATE DATABASE [kekEmlak]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kekEmlak', FILENAME = N'C:\Users\ZahidAliDev\kekEmlak.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kekEmlak_log', FILENAME = N'C:\Users\ZahidAliDev\kekEmlak_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kekEmlak].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kekEmlak]
GO
USE [kekEmlak]
GO
/****** Object:  Table [dbo].[products]    Script Date: 6/15/2021 2:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](155) NOT NULL,
	[details] [varchar](255) NOT NULL,
	[location] [varchar](255) NOT NULL,
	[price] [varchar](155) NOT NULL,
	[area] [varchar](255) NOT NULL,
	[image] [varchar](255) NOT NULL,
	[userId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/15/2021 2:02:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](155) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[role] [varchar](55) NOT NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
USE [master]
GO
